.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;

  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.footer__column-link:hover {
  opacity: 70%;
}
